.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/
.ro-crate-run/
.coverage
.coverage.*
htmlcov/
tests/**/.ro-crate-run/
tests/**/out.txt
tests/**/result.txt
tests/**/normalized.tsv
docs/
